/* =================================================
  base styles
==================================================== */

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(185, 41%, 84%);
  margin: 0;
}

/* =================================================
  title
==================================================== */

.title {
  display: flex;
  justify-content: center;
  margin: 30px;
}

/* =================================================
  form
==================================================== */

.form {
  width: 100vw;
  max-width: 375px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* =================================================
  input block
==================================================== */

fieldset {
  border: none;
}

.input-box {
  margin: 15px 0;
}

.input-box__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-box__tip-btn-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* error styles applied when bill and people values are zero */

.input-box__error-msg {
  color: #e89999;
  font-weight: bold;
}

.error {
  outline: 2px solid #e89999;
}

/* tip buttons */

.tip-btn {
  color: #fff;
  height: 45px;
  width: 145px;
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 24px;
  margin: 5px;
}

.tip-btn:hover {
  cursor: pointer;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.tip-btn--active {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.tip-custom {
  height: 45px;
  width: 145px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  margin: 5px;
  padding: 0;
}

.tip-custom__input {
  height: 45px;
  width: 140px;
}

/* label and input styles */

/* remove default input styles Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* remove default input styles Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
}

input {
  border: none;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  position: relative;
}

input[type="number"] {
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  height: 45px;
  width: 100%;
  font-size: 24px;
}

input[type="number"]::placeholder {
  color: hsl(185, 41%, 84%);
}

input[type="number"]:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

input[type="number"]:hover {
  cursor: pointer;
}

input[class="input-box__bill"] {
  background: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px 15px;
  background-color: hsl(189, 41%, 97%);
}

input[class="input-box__people"] {
  background: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px 15px;
  background-color: hsl(189, 41%, 97%);
}

input[class="input-box__custom-tip"] {
  height: 45px;
  width: 100%;
  background-color: hsl(189, 41%, 97%);
}

input[class="input-box__custom-tip"]::placeholder {
  color: hsl(184, 14%, 56%);
  text-align: center;
  padding-left: 10px;
}

/* =================================================
  results block
==================================================== */

.output-block {
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
}

.output {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.output__textbox {
  margin: 15px 0 0 15px;
  transform: translateY(-15%);
}

.output__text--label {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  margin-bottom: 0;
}

.output__text--sublabel {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  margin-top: 0;
}

input[type="text"] {
  background-color: hsl(183, 100%, 15%);
  font-size: 32px;
  color: hsl(172, 67%, 45%);
  font-weight: bold;
  max-width: 195px;
  padding-right: 10px;
}

input[type="text"]::placeholder {
  color: hsl(172, 67%, 45%);
}

/* =================================================
  reset button
==================================================== */

.btn-reset {
  width: 85%;
  height: 45px;
  margin: 25px auto;
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
}

.btn-reset:hover {
  cursor: pointer;
  background-color: hsl(185, 41%, 84%);
}

.btn-deactive {
  width: 85%;
  height: 45px;
  margin: 25px auto;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  background-color: hsl(186, 14%, 43%);
  opacity: .4;
}

/* =================================================
  display for desktop screens
==================================================== */

@media (min-width: 992px) {

  main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form {
    display: flex;
    flex-direction: row;
    max-width: 915px;
  }

  /* input block */

  fieldset {
    padding: 10px 30px;
    max-width: 450px;
  }

  .input-box {
    margin: 20px 0;
  }

  /* tip buttons */

  .tip-btn {
    height: 50px;
    width: 120px;
  }

  .tip-btn:hover {
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
  }

  .tip-custom {
    height: 50px;
    width: 120px;
  }

  .tip-custom__input {
    margin-top: 2.5px;
  }

  /* output block */

  .output-block {
    width: 80%;
    justify-content: space-between;
    padding: 20px;
  }

  input[type="text"] {
    font-size: 40px;
    max-width: 250px;
  }

}
