/* =================================================
  base styles
==================================================== */

* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
  background-color: hsl(185, 41%, 84%);
}

main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* =================================================
  header
==================================================== */

.header {
  display: flex;
  justify-content: center;
  margin: 30px;
}

/* =================================================
  form
==================================================== */

.form {
  width: 95vw;
  max-width: 350px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
}

fieldset {
  border: none;
}

.form__input {
  margin: 15px 0;
}

label {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
}

input {
  border: none;
  text-align: right;
  font-weight: bold;
  padding-right: 5px;

  position: relative;
}

input[type="number"] {
  color: hsl(183, 100%, 15%);
  border-radius: 5px;
  height: 45px;
  width: 100%;
  font-size: 24px;

}

input[type="number"]:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

input[class="bill"] {
  background: url("images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px 15px;
  background-color: hsl(189, 41%, 97%);
}

input[class="people"] {
  background: url("images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px 15px;
  background-color: hsl(189, 41%, 97%);
}

input[type="number"]::placeholder {
  color: hsl(185, 41%, 84%);
}

input[class="tip-input"] {
  height: 45px;
  width: 100%;
  background-color: hsl(189, 41%, 97%);
  padding: 0;
  text-align: center;
}

input[class="tip-input"]::placeholder {
  color: hsl(184, 14%, 56%);
}

input[type="text"] {
  background-color: hsl(183, 100%, 15%);
  font-size: 24px;
  color: hsl(172, 67%, 45%);
  font-weight: bold;
  max-width: 150px;
  margin-right: 15px;
}

input[type="text"]::placeholder {
  color: hsl(172, 67%, 45%);
}

.error {
  outline: 2px solid #e89999;
}

.error-zero {
  color: #e89999;
  font-weight: bold;
  /* display: none; */
}

/* remove default input styles */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.btn {
  color: #fff;
  height: 45px;
  width: 140px;
  background-color: hsl(183, 100%, 15%);
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 24px;
  margin: 5px;
}

.btn:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 41%, 84%);
}

.btn--active {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.btn-custom {
  height: 45px;
  width: 140px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  margin: 5px;
  padding: 0;
}

.tip-input {
  height: 45px;
  width: 140px;

}

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__output {
  background-color: hsl(183, 100%, 15%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 5%;
  margin: 10px;
  padding: 10px;
}

p {
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  margin-bottom: 0;
}


.form__textBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin: 15px 0 0 15px;
  transform: translateY(-15%);
}

.t1 {
  color: hsl(0, 0%, 100%);

}

.t2 {
  margin-top: 0;
}


.btn--reset {
  width: 90%;
  height: 45px;
  margin: 15px auto;
  background-color: hsl(172, 67%, 45%);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
}

.btn--reset:hover {
  background-color: hsl(185, 41%, 84%);
}

.btn--deactive {
  width: 90%;
  height: 45px;
  margin: 15px auto;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  background-color: hsl(186, 14%, 43%);
  opacity: .4;
}

@media (min-width: 992px) {
  .form {
    display: flex;
    flex-direction: row;
    max-width: 815px;
  }

  fieldset {
    padding: 20px;
    max-width: 430px;

  }

  .form__container {
    flex-direction: row;
    justify-content: flex-start;
  }

  .btn {
    height: 50px;
    width: 120px;
  }

  .btn-custom {
    height: 50px;
    width: 120px;
    margin: 0;
  }

  .tip-input {
    height: 50px;
    width: 120px;
    margin: 7.5px;
  }

  input[type="text"] {
    font-size: 36px;
    max-width: 180px;
  }

.form__input {
    margin: 10px 0;
  }


  .form__output {
    min-width: 340px;
    justify-content: space-between;
  }

}
